  <h2>Painel</h2>

<div class="card" style="align-items:center">
  <div class="card-body">

    <div class="card bg-light mb-3" style="max-width: 18rem; display:inline-block;">
  <div class="card-header">Postagens</div>
  <div class="card-body">
    <a href="/admin/postagens/add"><button class="btn btn-light">Nova postagem</button></a>
    <a href="/admin/postagens"><button class="btn btn-light mt-2">Listar postagens</button></a>
  </div>
</div>

<div class="card bg-light mb-3" style="max-width: 18rem; display:inline-block;">
  <div class="card-header">Categorias</div>
  <div class="card-body">
        <a href="/admin/categorias/add"><button class="btn btn-light">Nova categoria</button></a>
        <a href="/admin/categorias"><button class="btn btn-light mt-2">Listar categorias</button></a>
  </div>
</div>

<div class="card bg-light mb-3" style="max-width: 18rem; display:inline-block;">
  <div class="card-header">Comentários</div>
  <div class="card-body">
        <button class="btn btn-light">Listar comentários</button>
        <button class="btn btn-light mt-2">Apagar comentários</button>
  </div>
</div>

  </div>
</div>

<!-- 
<button class="btn btn-success">Teste</button>
-->