<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container" style="text-align:center">

      <!-- Call to action -->
      <b>ConexTech</b>
      <!-- Call to action -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://generalconex.com/"> GeneralConex.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->